{{- $fontSize := promptIntOnce . "fontSize" "Terminal font size" 9 -}}
{{- $gtkTheme := promptStringOnce . "gtkTheme" "GTK theme name" "WhiteSur-Dark" -}}
{{- $iconTheme := promptStringOnce . "iconTheme" "Icon theme name" "WhiteSur-Dark" -}}
{{- $launcher := promptStringOnce . "launcher" "Application launcher command" "wofi --show drun,run" -}}
{{- $terminal := promptStringOnce . "terminal" "Terminal emulator command" "ghostty" -}}
{{- $browser := promptStringOnce . "browser" "Browser command" "qutebrowser" -}}
{{- $browserFlags := promptStringOnce . "browserFlags" "Extra browser flags (blank for none)" "--qt-flag disable-gpu" -}}
{{- $fileManager := promptStringOnce . "fileManager" "File manager command" "pcmanfm" -}}
{{- $lockColor := promptStringOnce . "lockColor" "Screen lock color (hex, no #)" "000000" -}}
{{- $idleTimeout := promptIntOnce . "idleTimeout" "Seconds of inactivity before locking the screen" 300 -}}
{{- $dpmsTimeout := promptIntOnce . "dpmsTimeout" "Seconds of inactivity before turning off outputs" 600 -}}
{{- $hasEmulators := promptBoolOnce . "hasEmulators" "Does this machine run game emulators (mGBA, Desmume)" false -}}
{{- $hasTouchpad := promptBoolOnce . "hasTouchpad" "Does this machine have a touchpad" false -}}
{{- $barFont := promptStringOnce . "barFont" "Waybar font family" "JetBrainsMono Nerd Font" -}}
{{- $barFontSize := promptIntOnce . "barFontSize" "Waybar font size (px)" 11 -}}
[data]
    fontSize = {{ $fontSize }}
    gtkTheme = {{ $gtkTheme | quote }}
    iconTheme = {{ $iconTheme | quote }}
    launcher = {{ $launcher | quote }}
    terminal = {{ $terminal | quote }}
    browser = {{ $browser | quote }}
    browserFlags = {{ $browserFlags | quote }}
    fileManager = {{ $fileManager | quote }}
    lockColor = {{ $lockColor | quote }}
    idleTimeout = {{ $idleTimeout }}
    dpmsTimeout = {{ $dpmsTimeout }}
    hasEmulators = {{ $hasEmulators }}
    hasTouchpad = {{ $hasTouchpad }}
    barFont = {{ $barFont | quote }}
    barFontSize = {{ $barFontSize }}
