for_window [class="^.*"] border pixel 0
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [class="Galculator"] floating enable
for_window [app_id="pcmanfm"] floating enable
{{- if .hasEmulators }}
for_window [class="mGBA"] floating enable
for_window [class="Desmume"] floating enable
{{- end }}
